html{
  font-size:14px;
}

* {
      letter-spacing:.5px;
      font-family: "Asap", Helvetica, sans-serif;

    }

    .text-section h2, h3, h6{
      color: #8b8b8b;
    }

    body{
      font-size:1.125rem;
      line-height:2rem;
    }

    @media (max-width: 768px) {
      body{
        font-size:1rem;
        line-height:1.5rem;
      }
    }

    h2, h3, h6{
      text-transform:uppercase;
      font-weight: 700;
      letter-spacing:4px;
    }

    .row.header{
      padding-top:100px;
      text-align:left;
    }

    .row{
      margin-right:0;
      margin-left:0;
    }

    .row.spacer{
      margin-top:100px;
    }

    .container-fluid{
      padding-left:0;
      padding-right:0;
    }

    @media (max-width: 575px) {
      .row.header{
        padding-top:25px;
      }
    }

    /* unvisited link */
    a:link {
        color: black;
        text-decoration: none;
    }

    /* visited link */
    a:visited {
        color: black;
        text-decoration: none;
    }

    /* mouse over link */
    a:hover {
        text-decoration: none;
    }

    /* selected link */
    a:active {
        color: black;
        text-decoration: none;
    }

    .bottom-nav{
      /*padding:15 15 0;*/
    }

    .section {
      min-height: 450px;
      background-color:#ffffff;
      -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    }

    @media (max-width: 575px) {
      .section{
        min-height:275px;
      }
    }

    .section-image-container{
      padding:0;
      -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    }
    
    .section-image-overlay{
      visibility: hidden;
      opacity: 0;
      position:absolute;
      width:100%;
      height:500px;
      text-align:center;
      background-color: rgba(255,255,255,.4);
      z-index: 999;
      -webkit-transition: all 0.20s ease-in-out;
      -moz-transition: all 0.20s ease-in-out;
      -ms-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out;

    }



    .row-container{
      padding:0;
      -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    }
    
    .row-overlay{
      visibility: hidden;
      opacity: 0;
      position:absolute;
      height:550px;
      text-align:center;
      background-color: rgba(255,255,255,.6);
      z-index: 999;
      -webkit-transition: all 0.20s ease-in-out;
      -moz-transition: all 0.20s ease-in-out;
      -ms-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out;
    }


    /*.row-container:hover {
      cursor:pointer;
    }*/
    .row-container:hover .row-overlay{
      visibility: visible;
      opacity: 1;
    }

/*    .row-container:hover .project-name.test{
      border-color:#000000;
    }
*/
    .project-name.test{
      text-decoration: none;
      display:block;
      font-weight:500;
      letter-spacing: 5px;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.20s ease-in-out;
      -moz-transition: all 0.20s ease-in-out;
      -ms-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out;
    }

    .project-name.header{
      text-decoration: none;
      display:inline-block;
      font-weight:500;
      letter-spacing: 5px;
      border-bottom: 2px solid transparent;
      font-size:48px;
      -webkit-transition: all 0.20s ease-in-out;
      -moz-transition: all 0.20s ease-in-out;
      -ms-transition: all 0.20s ease-in-out;
      -o-transition: all 0.20s ease-in-out;
    }

    .section:hover .section-image-overlay{
      visibility: visible;
      opacity: 1;
    }

    .row-container:hover .project-name.header{
      color:#f26868;
    }

    .section-image-container:hover .section-image-overlay{
      visibility: visible;
      opacity: 1;
    }

    .section.bottom{
      background-color:#ffffff;
      min-height:350px;
      text-align:center;
      border-top:2px solid #f6f6f6;
    }

    .img.project1{
    max-width: 450px;
    width:100%;
    margin: 0 auto;
    /*top: 100px;
    position: relative;*/
    padding:0 20 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    }

    .img.project2{
    max-width: 600px;
    width:100%;
    margin: 0 auto;
    /*top: 100px;
    position: relative;*/
    padding:0 20 0;
    padding:0 20 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    }
    }

    .site-header {
    position: absolute;
    z-index: 9999;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 0;
    background-color:#ffffff;
    }

    .nav-logo-container {
    text-align:center;
    float:none;
    margin:0;
    }

    .nav-logo {
    height: 140px;
    padding-top: 16px;
    padding-bottom: 12px;
    opacity:1;
    position:relative;
    }
    .arrow-right {

    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid white;
    }

    .arrow-right.vertical-center {
    position:absolute;
    right:-40px;
    top:230px;
    z-index: 9999;
    }

    .arrow-left {
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid white;
    }

    .arrow-left.vertical-center {
    position:absolute;
    left:-40px;
    top:225px;
    z-index: 9999;
    }

    @media(max-width: 992px) {
      .arrow-left{
        display:none;
      }
      .arrow-right{
        display:none;
      }
      }

    .arrow-up {
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-bottom: 40px solid white;
    border-right: 40px solid transparent;
    }

    .arrow-up.center {
    position:absolute;
    top:-40px;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }

    .project-text{
      position:absolute;
      /*text-align:center;*/
      padding:0 20px 0;
    }

    .project-name {
      text-transform: uppercase;
      -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    }

    .project-description {
      line-height:1.5;
      max-width:300px;
      position:relative;
      text-align: center;
      margin: 0 auto;
      padding-top:15px;
    }

    .about-description{
      line-height:1.5;
      max-width:500px;
      position:relative;
      text-align: center;
      margin: 0 auto;
      padding:15px;
      font-size:16px;
    }

    .header-text{
      max-width:800px;
      letter-spacing:2px;
      text-transform:uppercase;
      margin:0 auto;
      font-size:1.6em;
      line-height:2;
      padding: 0 25 0;
    }

    @media (max-width: 768px) {
      .header-text{
        font-size:1.3em;
        padding:0 10 0;
        text-align:center;
      }
    }

    .container-project-body{
      padding:0;
    }
    

    .project-page.text-section{
      
      max-width:600px;
      position:relative;
      margin: 0 auto 100;
      padding:0 1.5rem 0;
    }

    .tasks{
      text-align:center;
    }

    .section-break-text {
      font-size:32;
      font-weight:700;
      text-align:center;
    }

    .project-page.img-full-width{
      max-width:1000px;
      position:relative;
      text-align: center;
      margin: 50 auto 50;
    }

    .project-page.text-full-width{
      max-width:1000px;
      position:relative;
      margin: 100 auto 100;
    }

    .img-full-width{
      width:100%;
      margin:0 auto;
    }

    .img-inline{
      width:80%;
      margin:0 auto;
    }

    .img-text-block{
      margin-bottom:100px;
    }

    .img-caption{
      text-align:center;
      font-style:italic;
    }

    .hero-img{
      width:100%;
    }

    .project-page-name {
      text-transform: uppercase;
      letter-spacing:4px;
      font-weight:700;
      text-align:center;
      position:relative;
      top:-70px;
      text-decoration: underline;
    }

    .project-page.description {
      line-height:1.5;
      max-width:650px;
      position:relative;
      text-align: center;
      margin: 0 auto;
      padding-top:15px;
    }

    .project-page.hero{
      
    }

    @media (max-width: 768px) {
    .project-page.hero{
      margin-top:0px;
    }
  }

  .thumbnail>img {
    width: 130px;
    padding: 10px;
  }

  .thumbnail {
    text-align: center;
    border: 0px solid #FFF;
  }

  .social-icon{
    width:25px;
    margin:0 10 0;

    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
  }

  .social-icon:hover{
    opacity:.6;
  }

  .text-explanation{
    margin:40px 5% 20px;
    padding: 30px 2% 30px;
    text-align:center;
    border-top:2px solid #dedede;
    border-bottom:2px solid #dedede;

  }


  .welcome-banner-container{
      position:relative;
      margin:0 auto;
      text-align: center;
      background-color:#f6f6f6;
      min-height:550px;
      width:90%;
  }

  .welcome-banner-container.project{
    min-height:500px;
  }

  .welcome-banner-container.index{
    background: url(https://s3.amazonaws.com/ahong-portfolio-images/hello-there.png) no-repeat left center;
    
    -o-background-size: 40% auto;
    -webkit-background-size: 40% auto;
    -moz-background-size: 40% auto;
    background-size: 40% auto;
  }

  .welcome-banner-container:before{
    opacity: .6;
  }

  @media(max-width: 768px) {
    .welcome-banner-container{
      min-height:400px;
    }
    .welcome-banner-container.index{
      -o-background-size: 80% auto;
    -webkit-background-size: 80% auto;
    -moz-background-size: 80% auto;
    background-size: 80% auto;
    }
  }

  .trove-branding-bg{
    background-color:#e2e2e1;
  }

  .trove-physical-bg{
    background-color:#ffe4d9;
    background: url(https://s3.amazonaws.com/ahong-portfolio-images/boxes.jpg) center center no-repeat;
  }

  .trove-sellers-bg{
    background-color:#e4d8fe;
    
  }

  .idea-hub-bg{
    background-color:#d3ede2;
    background:url(https://s3.amazonaws.com/ahong-portfolio-images/idea-hub-flatpack-sm.png) center center no-repeat;
    background-size:cover;
  }

  .typography-bg{
    background-color:#9cbed3;
    background: url(https://s3.amazonaws.com/ahong-portfolio-images/drowning-robot-01.png) center center no-repeat;
  }

  .welcome-row{
    margin:30px auto;
    max-width:120rem;
  }

  .welcome-row.narrow{
    max-width:90rem;
  }

  .welcome-row-mobile{
    margin:5px 0 0;
    padding:0px;
  }


  .row.mobile{
    padding-left:0;
    padding-right:0;
  }



  .img-text-overlay-wrapper{
    position:absolute;
    width:100%;
  }



  .btn-open{
    background-color: transparent;
    color:#000;
    border:1px solid #232323;
  }

  .btn-open:hover{
    background-color:#fff;
    border:1px solid #fff;
    color:#000;
  }

  .btn-overlay{
    width:250px;
    display:block;
    padding:10px;
    position:relative;
    margin:15 auto 0;
  }




  .fullbanner-image{
    position: fixed;
    left: 50%;
    margin-left: -910px;    
    min-height:750px;
     -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  }

  @media (max-width: 575px) {
      .img-text-overlay.center{
        left:0;
        right:0;
        z-index:9999;
      }
      .project-name.test{
        font-size:14px;
      }
      .project-name.header{
        font-size:24px;
      }
    }



  .img-text-overlay{
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .img-text-overlay.center{
    left:-50;
    right:0;
    z-index:9999;
  }

  .img-text-overlay.right{
    left:200;
    right:0;
    z-index:9999;
  }

  @media (max-width: 992px) {
    .img-text-overlay.right{
        left:0;
        right:0;
        z-index:9999;
      }

    .img-text-overlay.center{
        left:0;
        right:0;
        z-index:9999;
      }
  }

  @media (max-width: 575px) {
      

      .img-text-overlay.right{
        left:0;
        right:0;
        z-index:9999;
      }
      .project-name.test{
        font-size:14px;
      }
      .project-name.header{
        font-size:24px;
      }
    }

  .img-text-overlay.bottom{
    left:0;
    right:0;
    top:85%;
  }

  .img-text-overlay.hero{
    left:0;
    right:0;
   padding: 175 20 50;
    position:absolute;
    text-align:center;
    margin: 0 auto;
    z-index:999;
    color:#000000;
  }

  .img-text-overlay.mobile{
    position:relative;
    padding-top:22%;
    margin-top:0;
    top:0;
  }

  .hero-overlay{
    position: absolute;
    background: #dedede;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: 100%;
  }



  @media(max-width: 768px) {

  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .special-container p {
     margin-bottom: 5px;
  }


  @media (min-width: 767px) {

  }


  @media (max-width: 575px) {
    .row-overlay{
      display:none;
    }
  }

  a.fullbanner {
      display: none;
  }
  a.mobilebanner {
      display: block;
  }


  @media (min-width: 576px) {
      a.fullbanner {
          display: block;
      }
      a.mobilebanner {
          display: none;
      }
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .mobileStuff{
    display:none;
  }

  .desktopStuff{
    display:block;
  }

  .arrow-up{
    display:none;
  }

  @media(max-width: 992px) {
      .mobileStuff{
        display:block;
      }
      .desktopStuff{
        display:none;
      }

      .arrow-up{
        display:block;
      }
      .row{
        margin-left:0px;
        margin-right:0px;
      }

      .row-name{
        border-bottom:2px solid #f6f6f6;
      }
  }

  /*Nav Bar*/

  .nav-bar{
    list-style:none;
    text-align:center;
    padding-left:0;
    padding-right: 0;
    font-size:18px;
  }

  .nav-bar.item{
    display:inline-block;
    padding:10px;
  }

  .current-page{
    border-bottom:2px solid #000000;
          -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
  }

  .other-page{
          -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;

  }

  .other-page:hover{
    border-bottom:2px solid #000000;
  }